<div class="gettouch-hlder" id="contact">
  <div class="get-skyhlder">
    <div class="container">
      <div class="row  justify-content-center">
        <div class="col-sm-4">
          <div class="contact-info">
            <h2>Contact Info</h2>
            <span><i class="fa fa-skype "></i> <a href="#">skyrites'</a></span> <span><i class="fa fa-envelope"></i> <a
                href="mailto:skyrites@gmail.com">skyrites@gmail.com</a></span> <span><i class="fa fa-envelope"></i> <a
                href="mailto:info@skyrites.com">info@skyrites.com</a></span>
          </div>
        </div>
        <!--col-sm-12-end-->
      </div>
      <!--row-end-->
    </div>
    <!--container-end-->
  </div>
  <!--get-skyhlder-end-->
</div>
