<app-header></app-header>
<div class="container">
  <div class="row  justify-content-center">
    <div class="col-sm-8">
      <form (ngSubmit)="onSubmit()" #f="ngForm">
        <div class="form-group row">
          <label class="col-sm-2 col-form-label " for="username">Name</label>
          <div class="col-sm-10">
            <input type="text" id="username" class="form-control" ngModel name="username" username #username="ngModel"
              required>
            <div class="invalid-feedback" *ngIf="!username.valid && username.touched"
              [className]="!username.valid && username.touched ? 'invalid-feedback d-block' : 'invalid-feedback'">
              Please choose a username.
            </div>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-sm-2 col-form-label" for="email">Email</label>
          <div class="col-sm-10">
            <input type="text" id="email" class="form-control" ngModel name="email" email #email="ngModel" required>
            <div class="invalid-feedback" *ngIf="!email.valid && email.touched"
              [className]="!email.valid && email.touched ? 'invalid-feedback d-block' : 'invalid-feedback'">
              Please Enter a valid Email.
            </div>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-sm-2 col-form-label" for="phone">Mobile</label>
          <div class="col-sm-10">
            <input type="tel" id="phone" pattern="^[0-9]*$" class="form-control" minlength="10" maxlength="10" ngModel
              name="phone" phone #phone="ngModel" required>
            <div class="invalid-feedback" *ngIf="!phone.valid && phone.touched"
              [className]="!phone.valid && phone.touched ? 'invalid-feedback d-block' : 'invalid-feedback'">
              The phone number should be 10 digit and Number Only
            </div>
          </div>
        </div>

        <button [disabled]="!f.valid" type="submit" class="btn btn-primary is-primary">Submit</button>
      </form>
    </div>
    <!--col-sm-5-end-->
  </div>
</div>


<hr>
<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h3>Your Data</h3>

    </div>
    <div class="col-sm-12" *ngIf="submitted">
      <p>Username: {{ user.username }}</p>
      <p>Mail: {{ user.email }} </p>
      <p>Phone: {{ user.phone }} </p>
    </div>
  </div>

</div>

<app-footer></app-footer>
